* {
    padding: 0;
    margin: auto;
}

body {
    background-color: #383961;
}

h1,
h2 {
    margin: auto;
    text-align: center;
    font-family: monospace;
    color: #FCB900;
}


#game {
    box-shadow: 0 0 10px #FCB900;
    margin-top: 1%;
    width: 800px;
    height: 500px;
    border: 1px solid #FCB900;
    background-image: url(../img/svg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5%;
    z-index: -1;
}

#character {
    width: 50px;
    height: 100px;
    position: relative;
    top: 400px;
}

#block {
    width: 100px;
    height: 100px;
    position: relative;
    top: 400px;
    left: 480px;
    animation: block 1s infinite;
}

.animate {
    animation: jump 0.5s;
}

@keyframes jump {
    0% {
        top: 400px;
    }

    30% {
        top: 300px;
    }

    70% {
        top: 300px;
    }

    100% {
        top: 400px;
    }

    0% {
        left: 50px;
    }

    30% {
        left: 70px;
    }

    70% {
        left: 70px;
    }

    100% {
        left: 110px;
    }
}

@keyframes block {
    0% {
        left: 650px;
    }

    100% {
        left: -60px;
    }
}